.box{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: inline-block;
    margin: -2px;
    font-size: 60px;
    text-align: center;
}

.black{
    background-color: black;
    color:white;
}