$imageSize: 70px;

.box {
  width: $imageSize;
  height: $imageSize;
  border: 1px solid black;
  display: inline-block;
  margin: -2px;
  font-size: 60px;
  text-align: center;
  img {
    width: $imageSize ;
    height: $imageSize;
  }
}

.black-box {
  background-color: rgb(202, 128, 76);
  color: white;
}

.white-box {
  background-color: rgb(228, 185, 154);
  color: white;
}
