$imageSize: 50rem;

div.box {
  // width: $imageSize / 12;
  width: $imageSize / 12;
  height: $imageSize / 12;
  border: 1px solid black;
  display: inline-block;
  margin: -2px;
  font-size: $imageSize / 30;
  text-align: center;
  img {
    margin: 2.733px;
    width: $imageSize / 12 * 0.9;
    height: $imageSize / 12 * 0.9;
    &[alt]{
      color: transparent;
    }
  }
}


div.chess-row{
    height: $imageSize / 12;
}

div.chess-table{
    width: $imageSize - 15rem;
    height: $imageSize - 15rem;
}

.black-box {
  background-color: rgb(202, 128, 76);
  color: white;
}

.white-box {
  background-color: rgb(228, 185, 154);
  color: white;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #cc0000;
}//Damit das markieren nicht funktioniert

@media (max-width: 550px) {
    $imageSize: 40rem;
    div.box {
      width: $imageSize / 12;
      height: $imageSize / 12;
      border: 1px solid black;
      display: inline-block;
      margin: -2px;
      font-size: $imageSize / 30;
      text-align: center;
      img {
        margin: 2.1666px;
        width: $imageSize / 12 * 0.9;
        height: $imageSize / 12 * 0.9;
        &[alt]{
          color: transparent;
        }
      }
    }
    
    
    div.chess-row{
        height: $imageSize / 12;
    }
    
    div.chess-table{
        width: $imageSize;
    }
}

@media (max-width: 450px) {
    $imageSize: 30rem;
    div.box {
      width: $imageSize / 12;
      height: $imageSize / 12;
      border: 1px solid black;
      display: inline-block;
      margin: -2px;
      font-size: $imageSize / 30;
      text-align: center;
      img {
        margin: 1.5px;
        width: $imageSize / 12 * 0.9;
        height: $imageSize / 12 * 0.9;
        &[alt]{
          color: transparent;
        }
      }
    }
    
    
    div.chess-row{
        height: $imageSize / 12;
    }
    
    div.chess-table{
        width: $imageSize;
    }
}

@media (max-width: 350px) {
    $imageSize: 24rem;
    div.box {
      width: $imageSize / 12;
      height: $imageSize / 12;
      border: 1px solid black;
      display: inline-block;
      margin: -2px;
      font-size: $imageSize / 30;
      text-align: center;
      img {
        margin: 1px;
        width: $imageSize / 12 * 0.9;
        height: $imageSize / 12 * 0.9;
        &[alt]{
          color: transparent;
        }
      }
    }
        
    div.chess-row{
        height: $imageSize / 12;
    }
    
    div.chess-table{
        width: $imageSize;
    }
}
