* {
  outline: green;
}

div.chess-table.unselectable.container div.chess-row {
  height: 4.16667rem;
}

div.chess-table.unselectable.container div.box {
  width: 4.16667rem;
  height: 4.16667rem;
  border: 1px solid black;
  display: inline-block;
  margin: -2px;
  font-size: 1.66667rem;
  text-align: center;
}

div.chess-table.unselectable.container div.box img {
  margin: 2.733px;
  width: 3.75rem;
  height: 3.75rem;
}

div.chess-table.unselectable.container div.box img[alt] {
  color: transparent;
}

.black-box {
  background-color: #ca804c;
}

.black-box.highlight {
  background: radial-gradient(ellipse, #ca804c, #ca804c, #ff0707) !important;
}

.white-box {
  background-color: #e4b99a;
}

.white-box.highlight {
  background: radial-gradient(ellipse, #e4b99a, #e4b99a, #ff0707) !important;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 550px) {
  div.box {
    width: 3.33333rem;
    height: 3.33333rem;
    border: 1px solid black;
    display: inline-block;
    margin: -2px;
    font-size: 1.33333rem;
    text-align: center;
  }
  div.box img {
    margin: 2.1666px;
    width: 3rem;
    height: 3rem;
  }
  div.box img[alt] {
    color: transparent;
  }
  div.chess-row {
    height: 3.33333rem;
  }
  div.chess-table {
    width: 40rem;
  }
}

@media (max-width: 450px) {
  div.box {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid black;
    display: inline-block;
    margin: -2px;
    font-size: 1rem;
    text-align: center;
  }
  div.box img {
    margin: 1.5px;
    width: 2.25rem;
    height: 2.25rem;
  }
  div.box img[alt] {
    color: transparent;
  }
  div.chess-row {
    height: 2.5rem;
  }
  div.chess-table {
    width: 30rem;
  }
}

@media (max-width: 350px) {
  div.box {
    width: 2rem;
    height: 2rem;
    border: 1px solid black;
    display: inline-block;
    margin: -2px;
    font-size: 0.8rem;
    text-align: center;
  }
  div.box img {
    margin: 1px;
    width: 1.8rem;
    height: 1.8rem;
  }
  div.box img[alt] {
    color: transparent;
  }
  div.chess-row {
    height: 2rem;
  }
  div.chess-table {
    width: 24rem;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #585734;
  color: white;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #585734;
  color: white;
}

.modal .modal-body {
  padding: 2px 16px;
}

.modal .modal-body img {
  width: 6rem;
}
/*# sourceMappingURL=style.css.map */