$imageSize: 50rem;

div.chess-table.unselectable.container{
  div.chess-row{
    height: $imageSize / 12;
  }

  div.box {
    width: $imageSize / 12;
    height: $imageSize / 12;
    border: 1px solid black;
    display: inline-block;
    margin: -2px;
    font-size: $imageSize / 30;
    text-align: center;
    img {
      margin: 2.733px;
      width: $imageSize / 12 * 0.9;
      height: $imageSize / 12 * 0.9;
      &[alt]{
        color: transparent;
      }
    }
  }
}

.black-box {
  background-color: rgb(202, 128, 76);
  &.highlight{
    background: radial-gradient(ellipse, rgb(202, 128, 76), rgb(202, 128, 76), #ff0707)  !important;
  }
}

.white-box {
  background-color: rgb(228, 185, 154);
  &.highlight{
    background: radial-gradient(ellipse , rgb(228, 185, 154), rgb(228, 185, 154), #ff0707)  !important;
  }
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}//Damit das markieren nicht funktioniert

@media (max-width: 550px) {
    $imageSize: 40rem;
    div.box {
      width: $imageSize / 12;
      height: $imageSize / 12;
      border: 1px solid black;
      display: inline-block;
      margin: -2px;
      font-size: $imageSize / 30;
      text-align: center;
      img {
        margin: 2.1666px;
        width: $imageSize / 12 * 0.9;
        height: $imageSize / 12 * 0.9;
        &[alt]{
          color: transparent;
        }
      }
    }

    div.chess-row{
        height: $imageSize / 12;
    }
    
    div.chess-table{
        width: $imageSize;
    }
}

@media (max-width: 450px) {
    $imageSize: 30rem;
    div.box {
      width: $imageSize / 12;
      height: $imageSize / 12;
      border: 1px solid black;
      display: inline-block;
      margin: -2px;
      font-size: $imageSize / 30;
      text-align: center;
      img {
        margin: 1.5px;
        width: $imageSize / 12 * 0.9;
        height: $imageSize / 12 * 0.9;
        &[alt]{
          color: transparent;
        }
      }
    }
    
    div.chess-row{
        height: $imageSize / 12;
    }
    
    div.chess-table{
        width: $imageSize;
    }
}

@media (max-width: 350px) {
    $imageSize: 24rem;
    div.box {
      width: $imageSize / 12;
      height: $imageSize / 12;
      border: 1px solid black;
      display: inline-block;
      margin: -2px;
      font-size: $imageSize / 30;
      text-align: center;
      img {
        margin: 1px;
        width: $imageSize / 12 * 0.9;
        height: $imageSize / 12 * 0.9;
        &[alt]{
          color: transparent;
        }
      }
    }
        
    div.chess-row{
        height: $imageSize / 12;
    }
    
    div.chess-table{
        width: $imageSize;
    }
}


body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #585734;
  color: white;
}


.modal-footer {
  padding: 2px 16px;
  background-color: #585734;
  color: white;
}

.modal{
  .modal-body {
    padding: 2px 16px;
    img {
      width: 6rem
    }
  }
}